<h3 class="mt-3 text-primary">Employee Details of {{ employee.firstName }}</h3>
<div>
    <div style="display:flex; justify-content:flex-start; align-items:baseline;" class="mt-5">
        <h5 class="text-primary" style="margin-right: 12px;"><b>First Name: </b></h5> <h5>{{ employee.firstName }}</h5>
    </div>
    <div style="display:flex; justify-content:flex-start; align-items:baseline;" class="ml-5">
        <h5 class="text-primary" style="margin-right: 15px;"><b>Last Name: </b></h5> <h5>{{ employee.lastName }}</h5>
    </div>
    <div style="display:flex; justify-content:flex-start; align-items:baseline;" class="ml-5">
        <h5 class="text-primary" style="margin-right:40px;"><b>Email Id: </b></h5> <h5>{{ employee.emailId }}</h5>
    </div>
</div>